@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
    font-family: 'Roboto', sans-serif;
    height: max-content;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

/* .helper {
position: absolute;
width: 372px;
height: 100px;
background-color: fuchsia;
left: 1426px;
top:50px;
} */

h1 {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    margin: 0;
    color: rgb(33, 33, 33);
    transition: font-size 0.15s ease;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.header--dark {    /* kötelező */
    background-color: rgb(51, 57, 64);    /* kötelező */
    color: rgb(236, 236, 236);    /* kötelező */
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.header__title {    /* kötelező */
    display: inline;    /* kötelező */
    font-size: 1.25rem;    /* kötelező */
    padding-left: 22px;
    box-sizing: border-box;
    font-weight: 100;
    margin: 0;
    width: 17.6vw;
    min-width: 120px;
    flex-shrink:1;
}

.header__menu {
    display: flex;
    align-items: center;
    padding: 0 22px;
    box-sizing: border-box;
    font-size: 1.25rem;
    color: rgb(154, 160, 164);
    flex-grow: 1;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
height: 51px;
flex-shrink: 10;
box-sizing: border-box;
}

.header__search {    /* kötelező */
    display: inline;    /* kötelező */
    height: 100%;
}

.search-container {
    display: flex;
    width: 100px;
    height: 100%;
    transition: width 0.15s ease;
}

.search__input {    /* kötelező */
    border-radius: 4px 0 0 4px;    /* kötelező */
    padding: 0.375rem 0.75rem;    /* kötelező */
    transition: border 0.15s ease;    /* kötelező */
    font-size: 1.2rem;    /* kötelező */
    border: 2px solid transparent;
    width: 100%;
}

.search__input:focus {    /* kötelező */
    border: 2px solid rgb(128, 189, 255) !important;    /* kötelező */
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset !important;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset !important;
    outline: none !important;
}

.search__btn {    /* kötelező */
    background-color: rgb(0, 123, 255);    /* kötelező */
    width: 63px;
    height: 100%;
    box-sizing: border-box;
    color: white;
    margin: none;
    border: none;
    padding: 0.375rem 0.75rem;
    font-size: 1.25rem;
    border-radius: 0 4px 4px 0;
}

.search__btn::before {
    margin: 0;
    padding: 0;
}

.profile__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 100;
    color: rgb(150, 156, 161);
    transition: padding 0.15s ease;
}

main {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    height: 100%;
}

aside {
    display: flex;
    min-width: 120px;
    width: 17.6vw;
    flex-shrink: 1;
}


.main__nav {    /* kötelező */
    background-color: rgb(33, 37, 41);    /* kötelező */
    width: 100%;
}

.nav__ul {
    padding: 0;
    margin: 0;
}

.nav__segment {
    list-style-type: none;
    text-transform: uppercase;
    color: rgb(96, 100, 103);
    display: flex;
    align-items: flex-end;
    padding-bottom: 0;
    padding-left: 22px;
    box-sizing: border-box;
    font-size: 0rem;
    height: 0px;
    font-weight: 800;
    opacity: 0;
    transition: opacity 1s ease, height 1s ease, padding-bottom 1s ease, font-size 1s ease;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.nav__button {
    list-style-type: none;
    height: 71px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 1.355rem;
    padding-left: 33%;
    box-sizing: border-box;
    transition: padding-left 0.3s ease;
}

.nav__button:not(.active):hover {
    background-color: white;
}

.nav__button a {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav__text {
    display: none;
}

.nav__button a .fa {
    color: rgb(96, 100, 103);
    width: 36px;
    box-sizing: border-box;
}

.nav__button .fa-chevron-right {
    justify-self: center;
    font-size: 1.05rem;
}

.active span,
.active a .fa {
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.content {
    padding: 36px 12px 36px 12px;
    box-sizing: border-box;
    flex-shrink: 10;
    flex-grow: 1;
    transition: padding 0.15s ease;
}

.main__breadcrumb {    /* kötelező */
    background-color: rgb(233, 236, 239);    /* kötelező */
    border-radius: 0.25rem;    /* kötelező */
    padding: 1rem 1.5rem;    /* kötelező */
    font-size: 1.4rem;
    margin-top: 10px;
    line-height: 2.5rem;
    color: rgb(111, 113, 126)
}

.main__cards {    /* kötelező */
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    gap: 36px;
    margin-top: 36px;
    box-sizing: border-box;
    color: white;
}

.main__card {    /* kötelező */
    border-radius: 0.25rem;
    flex-basis: 100%;
    flex-grow: 1;
    min-width: 200px;
    height: 165px;
}

.card__top {    /* kötelező */
    border-radius: 0.25rem 0.25rem 0 0;    /* kötelező */
    height: 60%;
    font-size: 1.4rem;
    padding-top: 2.5rem;
    padding-left: 33px;
    box-sizing: border-box;
}

.card__bottom {    /* kötelező */
    border-radius: 0 0 0.25rem 0.25rem;    /* kötelező */
    height: 40%;
    font-size: 1.1rem;
    padding: 0 33px;
    box-sizing: border-box;
    backdrop-filter: brightness(0.96);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__card:hover .card__top {
    backdrop-filter: brightness(1.1);
    transition: backdrop-filter 0.3s ease;
    color: black;
    opacity: 0.8;
}
.main__card:hover .card__bottom {
    transition: backdrop-filter 0.3s ease;
    backdrop-filter: brightness(0.5);
    color: white;
    opacity: 0.8;
    }

.main__card--blue {    /* kötelező */
    background-color: rgb(0, 123, 255);    /* kötelező */
}

.main__card--yellow {    /* kötelező */
    background-color: rgb(255, 193, 7);    /* kötelező */
}

.main__card--green {    /* kötelező */
    background-color: rgb(40, 167, 69);    /* kötelező */
}

.main__card--red {    /* kötelező */
    background-color: rgb(220, 53, 69);    /* kötelező */
}

.card__bottom .fa-chevron-right {
    font-size: 0.8rem;
}



@media only screen and (min-width: 700px) {

    html,
    body {
        height: 100%;
    }

    h1 {
        font-size: 3.6rem;
    }

    .header--dark {
        height: 83px;
    }

    
    .profile__container {
        padding: 0 38px;
    }
    
    .search-container {
        display: flex;
        width: 372px;
        height: 100%;
    }
    
    .content {
        padding: 36px;
    }
    
    .main__card {
        flex-basis: 33%;
    }
}
@media only screen and (min-width: 1190px) {
    .header__title {  
        padding-left: 3.6%;
        transform: scale(1.45);
    }

    .nav__segment {
        height: 88px;
        padding-left: 22px;
        padding-bottom: 22px; 
        opacity: 100;
        gap: 0;
        font-size: 1rem;
        left: 0;
    }
    
    .nav__text {
        display: flex;
        color: rgb(147, 151, 154);
        flex-grow: 1;
    }

    .nav__button {
        margin-left: 0px;
        padding-left: 22px;
    }
    
    .main__card {    
        flex-basis: 20%;
    }
}